# Игнорирование папок
.cmake-build-debug/
.idea/

# Игнорирование файлов по расширению
*.exe
*.rar
*.zip

# Игнорирование конкретного файла
secret.txt

# Игнорирование всех файлов с определённым расширением в конкретной папке
logs/*.log
